body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 20px; /* Add padding to the body */
  }
  
  .contact-wrapper {
    display: flex;
    justify-content: space-between; /* Space between title and form */
    align-items: flex-start; /* Align items to the left */
    width: 100%;
  }
  .contact-title {
    align-self: flex-start; /* Align title to the left */
    margin-bottom: 10px;
    padding-top: 60px;
    font-size: 4.5em;
}
  
  .contact-form-wrapper {
    width: 400px; /* Adjust width as needed */
    padding: 20px; /* Add padding to the form wrapper */
    border: 1px solid #ccc; /* Example border */
    border-radius: 4px; /* Example border radius */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  form {
    display: flex;
    flex-direction: column; /* Align form items vertically */
  }
  
  .form-group {
    margin-bottom: 15px; /* Adjust margin between form groups */
  }
  
  label {
    margin-bottom: 5px; /* Adjust margin between labels */
  }
  
  input[type=text],
  input[type=email],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  